= form_for([:admin, @block], :html => { :multipart => true }) do |f|
  = error_messages(@block)

  .field
    = f.label :body
    .input= f.text_area :body, rows: 16, cols: 56

  - begin
    = render @block.label
  - rescue ActionView::MissingTemplate

  %br
  = f.image if @block.accepts_image?

  .actions
    %label Actions
    .input= f.submit "Save"
