#player
  = image_tag "/images/template/player_header.png", :class => "header"

  .title= @track.title
  .plugin
    %object{:type => "application/x-shockwave-flash", :data => "http://flash-mp3-player.net/medias/player_mp3_maxi.swf", :width => "350", :height => "20"}
      %param{:name => "movie", :value => "http://flash-mp3-player.net/medias/player_mp3_maxi.swf"}
      %param{:name => "bgcolor", :value => "#313429"}
      %param{:name => "bgcolor1", :value => "#313429"}
      %param{:name => "bgcolor2", :value => "#313429"}
      %param{:name => "FlashVars", :value => "mp3=#{@mp3}&amp;width=350&amp;autoplay=1&amp;bgcolor=313429&amp;bgcolor1=313429&amp;bgcolor2=313429"}

  .controls
    - if @track.previous && @track.next
      .prev= link_to "&lt;&nbsp;Prev".html_safe, @track.previous
      .next= link_to "Next&nbsp;&gt;".html_safe, @track.next
      .clear
    - else
      &nbsp;

  .description=@track.description

  .list
    %ul
      - @tracks.each do |track|
        %li{:class => cycle("odd", "even")}= link_to track.title, track_path(track)
