#player
  .header= image_tag "/images/template/player_header.png", :alt => SITE_NAME

  .title= @track.title
  .plugin
    .no_js
      Flash and Javascript are required to listen in browser
      %br
      = link_to "Download the MP3", @mp3

  .controls
    - if @track.previous && @track.next
      .prev= link_to "&lt;&nbsp;Prev".html_safe, @track.previous
      .next= link_to "Next&nbsp;&gt;".html_safe, @track.next
      .clear
    - else
      &nbsp;

  .main
    - unless @track.description.blank?
      .description=@track.description

    .list
      %ul
        - @tracks.each_with_index do |track, index|
          %li{:class => [cycle("odd", "even"), (index == 0 ? "first" : nil)].compact.join(" ")}= link_to track.title, track_path(track)
