:javascript
  $(function(){
    $('.plugin').flash({
      swf: 'http://flash-mp3-player.net/medias/player_mp3_maxi.swf',
      width: 350,
      height: 20,
      flashvars: {
        movie: "http://flash-mp3-player.net/medias/player_mp3_maxi.swf",
        bgcolor: "#313429",
        bgcolor1: "#313429",
        bgcolor2: "#313429",
        mp3: "#{ @mp3 }",
        FlashVars: "mp3=#{ @mp3 }&amp;width=350&amp;autoplay=1&amp;bgcolor=313429&amp;bgcolor1=313429&amp;bgcolor2=313429"
      }
    });
  });

#player
  .header= image_tag "/images/template/player_header.png", alt: SITE_NAME

  .title= @track.title
  .plugin
    .no_js
      Flash and Javascript are required to listen in browser
      %br
      = link_to "Download the MP3", @mp3

  .controls
    - if @track.previous && @track.next
      .prev= link_to "&lt;&nbsp;Prev".html_safe, @track.previous
      .next= link_to "Next&nbsp;&gt;".html_safe, @track.next
      .clear
    - else
      &nbsp;

  .main
    - unless @track.description.blank?
      .description=@track.description

    .list
      %ul
        - @tracks.each_with_index do |track, index|
          %li{:class => [cycle("odd", "even"), (index == 0 ? "first" : nil)].compact.join(" ")}= link_to track.title, track_path(track)
