= form_for [:admin, @event] do |f|
  = error_messages(@event)
  
  .field
    = f.label :title
    = f.text_field :title, :size => 50
  .field
    = f.label :description
    = f.text_area :description, :rows => 12, :cols => 50
  .field
    = f.label :starts_at
    = f.datetime_select :starts_at
  .field
    = f.label :ends_at
    = f.datetime_select :ends_at

  = f.image

  .actions
    %label Actions
    = f.submit 'Save'
    = f.submit 'Preview'
