= form_for [:admin, @event], html: { multipart: true } do |f|
  = error_messages(@event)

  .field
    = f.label :title
    = f.text_field :title, size: 50
  .field
    = f.label :description
    = f.text_area :description, rows: 12, cols: 50, data: {previewable: '#previewable-preview'}
  .field
    %label Preview
    .input
      #previewable-preview
      .clear
  .field
    = f.label :starts_at
    .date= f.text_field :starts_at, class: "datetimepicker", value: f.object.starts_at.try(:to_s, :datetimepicker)

  = f.image

  .actions
    %label Actions
    = f.submit 'Save'
