- content_for :js do
  :javascript
    $(document).ready(function(){
      convert_datetime_select("#starts_at_container");
    });

= form_for [:admin, @event] do |f|
  = error_messages(@event)
  
  .field
    = f.label :title
    = f.text_field :title, :size => 50
  .field
    = f.label :description
    = f.text_area :description, :rows => 12, :cols => 50
  .field
    = f.label :starts_at
    #starts_at_container.date= f.datetime_select :starts_at

  = f.image

  .actions
    %label Actions
    = f.submit 'Save'
    = f.submit 'Preview'
