.post
  %h2.title Links and Projects
  .entry
    .meta Drag table to rows to reorganize them.

    .image_links
      = new_entity_image new_admin_link_path, "Create New Link"

    = collection_index @links, ["Title", "URL", "Description", "Actions"], id: "links_sortable" do |link|
      %tr{class: row_class, :'data-link-id' => link.id}
        %td= link.title
        %td= link_to link.url, link.url
        %td= truncate_for_index link.description
        %td
          = edit_entity_image [:edit, :admin, link]
          = destroy_entity_image [:admin, link]
