.bar
  %ul
    %li= link_to "News", admin_posts_path
    %li= link_to "Shows", admin_events_path
    %li= link_to "Gallery", admin_galleries_path 
    %li= link_to "Links", admin_links_path
    %li= link_to "Other", admin_blocks_path
    %li= link_to "Tracks", admin_tracks_path
    %li= link_to "Password", password_admin_sessions_path
    %li= link_to "Logout", "/admin/logout"

  .clear  
