%h2 Admin
%ul
  %li.first= link_to "News", admin_posts_path
  %li= link_to "Events", admin_events_path
  %li= link_to "Image Gallery", admin_galleries_path
  %li= link_to "Links and Projects", admin_links_path
  %li= link_to "Other Sections", admin_blocks_path
  %li= link_to "Audio Tracks", admin_tracks_path
  %li= link_to "Change Password", password_admin_sessions_path
  %li= link_to "Logout", "/admin/logout"
