.field
  = f.label "Image"
  .input.image
    - if object.image.exists?
      = image_tag(object.thumb, :id => :current_image)
    - else
      %img{:id => :current_image}

    = f.file_field :image

    %br
    %span.bold &nbsp;&nbsp;&nbsp;OR
    %br

    = button_to_function "Select a previous image", "$('#previous_image').dialog('open');"
    = f.hidden_field "previous_image_id", :id => :previous_image_id
    #previous_image
      - unique_previous_images(f.object).each do |prev|
        = link_to_function image_tag(prev.thumb), "selectImage(#{prev.id}, '#{prev.thumb}')"

    #clear_image
      %span.bold &nbsp;&nbsp;&nbsp;OR
      %br

      = button_to_function "No image", "clearImage()"
      = f.hidden_field "clear_image", :id => :clear_image_field

.clear

