.field
  = f.label "Image"
  .input.image
    - if object.image.exists?
      = image_tag(object.thumb, data: {image: true})
    - else
      %img{data: {image: true}, style: 'display: none'}

    %br

    = f.file_field :image, data: {"file-field" => true}

    %br
    %span.bold &nbsp;&nbsp;&nbsp;OR
    %br

    = button_tag "Select a previous image", data: {"modal-button" => true}
    = f.hidden_field "previous_image_id", data: {"previous-image-field" => true}
    %div{'data-previous-image' => true}
      - unique_previous_images(f.object).each do |prev|
        = link_to image_tag(prev.thumb), '#', data: {"previous-image-id" => prev.id, "previous-image-thumb" => prev.thumb}

    %div
      %span.bold &nbsp;&nbsp;&nbsp;OR
      %br

      = button_tag "No image", data: {"clear-image-button" => true}
      = f.hidden_field "clear_image", data: {"clear-image-field" => true}

.clear

