%ul
  %li= link_to "News", "/", :accesskey => "1", :class => "current_page_item first"
  %li= link_to "Events", "/events", :accesskey => "2"
  %li= link_to "Gallery", "/gallery", :accesskey => "3"
  %li= link_to "Links", "/links", :accesskey => "4"
  %li= link_to "Bio", "/bio", :accesskey => "5"
  %li= link_to "Contact", "/contact", :accesskey => "6"
  - if Track.count > 0
    %li
      %a{:href => track_path(Track.beginning), :onclick => "window.open('#{track_path(Track.beginning)}','#{Track.window_name}', config='height=400, width=650, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no'); return false;"} Listen
  %li= link_to "Login", "/admin/login", :accesskey => "7" if Rails.env.development? && !controller.current_user

