%ul
  %li= link_to "News", root_path, accesskey: "1"
  %li= link_to "Events", events_path, accesskey: "2"
  %li= link_to "Gallery", gallery_path, accesskey: "3"
  %li= link_to "Links", links_path, accesskey: "4"
  %li= link_to "Bio", bio_path, accesskey: "5"
  %li= link_to "Discography", discography_path, accesskey: "6"
  %li= link_to "Contact", contact_path, accesskey: "7"
  - if Track.count > 0
    %li
      %a{href: track_path(Track.beginning), onclick: "window.open('#{track_path(Track.beginning)}','#{Track.window_name}', config='height=450, width=350, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no'); return false;"} Listen

.clear
