%ul
  %li= render :partial => 'shared/admin_nav' if controller.current_user

  - if Event.current.any?
    %li
      %h2 Happening Right Now
      %ul
        - Event.current.each_with_index do |event, index|
          %li{:class => (index == 0 ? "first" : nil)}= link_to event.title, event_path(event)

  - if Event.upcoming.any?
    %li
      %h2 Upcoming Events
      %ul
        - Event.upcoming.each_with_index do |event, index|
          %li{:class => (index == 0 ? "first" : nil)}= link_to event.title, event_path(event)

  %li
    %h2 Social
    %ul.social-icons
      = social_icon :facebook, "https://www.facebook.com/andrewlittlefordmusic", label: "Andrew Littleford on Facebook"
      = obfuscated_mail_to SITE_EMAIL, image_tag("/images/icons/social/email.png", alt: ("Email"), class: "social-icon")
      = social_icon :rss, "/rss.xml", label: "RSS feed"

  - if Link.projects.any?
    %li
      %h2 Current Projects
      %ul
        - Link.projects.in_order.each_with_index do |link, index|
          %li{:class => (index == 0 ? "first" : nil)}= link_to link.display, link.url
