.post
  %h2.title= link_to event.title, event_path(event)
  .entry
    .meta
      - if event.upcoming?
        = "Starts "
        = event.starts_at.to_formatted_s(:event_with_time)
      - elsif event.past?
        = "Happened on"
        = event.starts_at.to_formatted_s(:event_with_time)
      - else
        = "Today "
        = event.starts_at.to_formatted_s(:event_with_time)
    
    = image_for event
    = simple_format event.description
    .clear
