= form_for [:admin, @post], html: { multipart: true } do |f|
  = error_messages(@post)

  .field
    = f.label :title
    .input= f.text_field :title, size: 48
  .field
    = f.label :body
    .input= f.text_area :body, rows: 16, cols: 56, data: {previewable: '#previewable-preview'}

  .field
    %label Preview
    .input
      #previewable-preview
      .clear

  - if f.object.permalink
    .field
      = f.label :permalink
      .input.permalink.bold= f.object.permalink
    .clear

  = f.image

  .actions
    %label Actions
    .input
      = f.submit 'Save'
