= form_for [:admin, @post], :html => { :multipart => true } do |f|
  = error_messages(@post)
  
  .field
    = f.label :title
    .input= f.text_field :title, :size => 48
  .field
    = f.label :body
    .input= f.text_area :body, :rows => 16, :cols => 56

  - if f.object.permalink
    .field
      = f.label :permalink
      .input.bold= f.object.permalink

  = f.image

  .actions
    %label Actions
    .input
      = f.submit 'Save'
      = f.submit 'Preview'
