= form_for [:admin, @track], :html => { :multipart => true } do |f|
  = error_messages(@track)

  .field
    = f.label :title
    = f.text_field :title, :size => 50
  .field
    = f.label :description
    = f.text_area :description, :rows => 8, :cols => 50
  .field
    = f.label :active
    .input.permalink
      = f.check_box :active
    .clear
  .field
    = f.label :mp3, "Audio File"
    = f.file_field :mp3

  .actions
    %label Actions
    = f.submit 'Save'
