- content_for :js do
  :javascript
    $(document).ready(function(){
      $("#sortable_table tbody").sortable(
        {
          update: function () {
            stripe_table(this);
            
            // $("#sortable_table tbody").sortable('serialize');  // This does not work. I don't know why. It works for <li> tags on another page.
            data = "";
            $("#sortable_table tbody tr").each(function(){
              val = $(this).attr('data-track-id');

              if(val != undefined)
                data += "track[]=" + val + "&";
            });
            
            $.ajax({
              url: "/admin/tracks/sort",
              type: "post",
              data: data,
              error: function(){
                alert("There was an error sorting tracks. Contact administrator.");
              }
            });
          }
        }).disableSelection();
    });


%h1 Media Player Tracks

%br
%p Drag table rows to reorganize them.

= collection_index @tracks, ["Title", "Description", "Recorded at", "Filename", "Active?", "Updated at", "Actions"], :id => "sortable_table" do |track|
  %tr{:class => row_class, :'data-track-id' => track.id}
    %td= track.title
    %td= truncate_for_index track.description
    %td= track.recorded_at
    %td= link_to track.mp3.name, track.mp3.url
    %td= boolean_image track.active?
    %td= track.updated_at.to_formatted_s(:index)
    %td
      = edit_entity_image [:edit, :admin, track]
      = destroy_entity_image [:admin, track]

.image_links
  = new_entity_image new_admin_track_path, "Create New Track"
