!!!
%html
  %head
    %title= page_title

    = auto_discovery_link_tag(:rss, '/rss.xml')

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'admin' if admin?

    = javascript_include_tag 'application'
    = javascript_include_tag 'admin' if admin?

    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}

    = csrf_meta_tag
    %meta{:name => "keywords", :content => META[:keywords] || ""}
    %meta{:name => "description", :content => META[:description] || ""}

    = render "shared/favicons"
    = render "shared/social_meta"
    = render "shared/analytics"

  %body
    #background
    #wrapper
      #header
        %table
          %tr
            %td
              %h1= link_to "Andrew Littleford", "/"
            %td.bottom
              %h2 Performer.&nbsp;Teacher.&nbsp;Musician.
        .clear

      #menu= render :partial => "shared/nav"

      #page
        #page-bgtop
          #page-bgbtm
            #content
              = render :partial => "shared/flashes"
              = yield
            #sidebar= render :partial => 'shared/sidebar'

      .clear
