!!!
%html
  %head
    %title= page_title

    = auto_discovery_link_tag(:rss, '/rss.xml')

    = stylesheet_link_tag ["stylesheet", "prettyPhoto"] + (admin? ? ['jquery-ui-1.8.7.custom'] : [])

    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag ['application', 'rails', 'jquery.prettyPhoto'] + (admin? ? ['jquery-ui-1.8.7.custom.min', 'admin', 'jquery.timepicker'] : [])

    = yield :js

    %link{:rel => "shortcut icon", :type => "image/x-icon", :href => "/favicon.ico"}

    = csrf_meta_tag
    %meta{:name => "keywords", :content => META[:keywords] || ""}
    %meta{:name => "description", :content => META[:description] || ""}

    = render :partial => "shared/analytics"

  %body
    #header
      #logo
        %h1= SITE_NAME
      #menu
        %ul
          %li.first= link_to "News", "/", :accesskey => "1"
          %li= link_to "Shows", "/events", :accesskey => "2"
          %li= link_to "Gallery", "/galleries", :accesskey => "3"
          %li= link_to "Links", "/links", :accesskey => "4"
          %li= link_to "Bio", "/bio", :accesskey => "5"
          %li= link_to "Contact", "/contact", :accesskey => "6"
          %li= link_to "Login", "/admin/login", :accesskey => "7" if Rails.env.development? && !controller.current_user
    
    #splash
      = link_to image_tag("template/img4.jpg", :alt => "", :width => "877", :height => "140")
    
    #content
      #colOne
        %p
          = render :partial => "shared/flashes"
          = yield
      #colTwo= render :partial => "shared/sidebar"
        
      .clear

    #footer
      %p
        = link_to image_tag("/images/icons/rss.png", :alt => "RSS"), "/rss.xml"
        = link_to "RSS", "/rss.xml"

        &copy; #{Time.now.year}
        = obfuscated_mail_to SITE_EMAIL, "Andrew Littleford"
        and
        = obfuscated_mail_to ADMIN_EMAIL, "Kevin McPhillips"
