!!!
%html
  %head
    %title= "#{PAGE_TITLE} :: Listen"

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'player'

    = javascript_include_tag 'application'

    = csrf_meta_tag
    = render partial: "shared/analytics"

  %body
    = yield
