!!!
%html
  %head
    %title= "#{PAGE_TITLE} - Listen!"

    = stylesheet_link_tag "stylesheet", "player"

    = javascript_include_tag 'jquery/jquery-1.4.2.min'
    = javascript_include_tag :all

    = csrf_meta_tag

    = render :partial => "shared/analytics"

  %body
    = yield
